.checkout-container {
    gap: 40px;
    padding: 50px;
    background-color: #d4e1d4;
    height: calc(100vh - 200px)
}

h1.your-cart {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}